body{
    background-image: url("https://wallpapercave.com/wp/wp7504225.jpg");
    background-attachment: fixed;
    background-size: cover;
}
h1{
    display: inline;

}
.footer{
    display: flex;

width: 100%;
align-items: flex-end;
justify-content: center;
padding: 10px;
align-self: flex-end;
margin-top: 20px;
 
}